<form (ngSubmit)="searchButton()" novalidate class="filter_list p-3" [ngClass]="!movieListComponent?.collapseFilters?'active':''">
  <h3 class="title cursor-pointer" (click)="movieListComponent?.changeCollapseFilter()"><i class="uis uis-angle-left"></i>Filtros</h3>

  <hr>

    <!-- SORT BY -->
    <div class="filter-item" id="sortby_filter">
      <h6 class="filter-header align-itens-center" id="flush-headingOne">
          Ordenar por:
      </h6>

      <div class="filter-body w-100">
        <button class="w-100 btn btn-outline-secondary text-start" (click)="collapseSortBy = !collapseSortBy">
          {{getCurrentSortByString()}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" [ngClass]="!collapseSortBy?'show':''">

          <li class="dropdown-item cursor-pointer"
          *ngFor="let item of sortByAsStringArray; let i = index"
          [ngClass]="isSortBy(i)?'active':''">
            <p class="dropdown-item-label m-0" (click)="setSortBy(i);collapseSortBy = !collapseSortBy">
              {{item}}
            </p>
          </li>

        </ul>
      </div>
    </div>

  <hr>

    <!-- VOTE COUNT -->
    <div class="filter-item" id="voteCount_filter">

      <h6 class="filter-header">Votos Mínimos</h6>
      <input type="range" class="form-range" min="0" max="10" value="0" id="customRange2" (submit)="setVoteCount($event.target)">
      <ul class="d-flex p-0 px-1 m-0 justify-content-between text-muted">
        <li class="vote_count_number">0</li>
        <li class="vote_count_number">1000</li>
      </ul>
    </div>

  <hr>
    <!-- KEYWORD -->
    <!-- <div class="filter-item" id="keyword_filter">
      <h6 class="filter-header align-itens-center" id="flush-headingOne">
          Palavras-Chave
      </h6>

      <div class="filter-body">
        <input type="text" class="form-control" (change)="setKeywords($event.target)">
      </div>

    </div>

  <hr> -->


    <!-- GENRES -->
    <div class="filter-item" id="genre_filter">
      <h6 class="filter-header align-itens-center" id="flush-headingOne">
          Gêneros
      </h6>

      <div class="filter-body">

          <ul class="genre_list d-flex flex-wrap gap-2 p-0 mb-2" *ngIf="_genreList!=[]">
            <li class="btn rounded-pill btn-sm"
            *ngFor="let genre of _genreList"
            [ngClass]="(_filters.genres.includes(genre))?'btn-light':'btn-outline-light'"
            (click)="addGenreToFilter(genre)">
                {{genre.name}}
            </li>
          </ul>

      </div>

    </div>

  <hr>

  <button type="submit" class="btn btn-primary w-100" >Procurar</button>

</form>
