<div class="container d-grid">

  <div class="genre_filter mt-2">
    <div class="genre_header d-flex">
      <h5 class="genre_title">Gêneros</h5>
      <button class="btn rounded-pill btn-outline-primary" *ngIf="selectedGenre" (click)="clearFilters()">
          Clear
      </button>
    </div>
    <div class="genre_list d-flex flex-wrap gap-2" *ngIf="genreList!=[]">
      <button class="btn rounded-pill"
      *ngFor="let genre of genreList" (click)="getMovies(firstPage(), genre.id)"
      [ngClass]="(genre.name == selectedGenre?.name)?'btn-primary':'btn-outline-primary'">
        {{genre.name}}
      </button>
    </div>
  </div>


  <ul class="pagination justify-content-center my-2">

    <li class="page-item" [ngClass]="(currentPage() == firstPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(firstPage())">First</button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == firstPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(prevPage())">Previous</button>
    </li>

    <li class="page-item" *ngFor="let item of getPagination()">
      <button class="page-link"
      [ngClass]="(item == currentPage())?'active':''"
      (click)="getMovies(item)">
        {{item}}
      </button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == lastPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(nextPage())">Next</button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == lastPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(lastPage())">Last</button>
    </li>
  </ul>


  <div class="d-flex gap-2 flex-wrap justify-content-center m-0 p-0">
    <div class="card movie text-bg-dark d-flex cursor-pointer" *ngFor="let Movie of movieList">

      <div class="card-content d-flex text-center">
        <div class="card-content-desc flex-grow-1 p-2">
          <h5 class="card-title">{{Movie.title}}</h5>
          <p class="card-text">{{Movie.overview}}</p>
        </div>
        <p class="card-text p-2"><small>{{Movie.vote_average}}/10</small></p>
      </div>

    <img src={{imgUrl+Movie.poster_path}} class="card-img-bottom" alt="">
    </div>
  </div>


  <ul class="pagination justify-content-center my-2">

    <li class="page-item" [ngClass]="(currentPage() == firstPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(firstPage())">First</button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == firstPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(prevPage())">Previous</button>
    </li>

    <li class="page-item" *ngFor="let item of getPagination()">
      <button class="page-link"
      [ngClass]="(item == currentPage())?'active':''"
      (click)="getMovies(item, selectedGenre?.id)">
        {{item}}
      </button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == lastPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(nextPage())">Next</button>
    </li>

    <li class="page-item" [ngClass]="(currentPage() == lastPage())?'disabled':''">
      <button class="page-link" (click)="getMovies(lastPage())">Last</button>
    </li>
  </ul>


</div>
