/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss"

body
  box-sizing: border-box

:root
  --card-movie-width: 225px
  --card-movie-height: 330px

  --color-primary: #24292f

  --color-white: rgb(255, 255, 255)
  --color-black: rgb(0, 0, 0)
  --color-red: rgb(255, 22, 22)
  --color-blue: rgb(3, 152, 158)
  --color-green: rgb(0, 128, 55)
  --color-gray: rgb(115, 115, 115)

.bg-color-red
  background-color: var(--color-red)

.cursor-pointer
  cursor: pointer
